:root {
  --dark-color: #19283f;
  --teal-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--teal-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
/* Start Navbar */
.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: var(--teal-color);
}
.navbar .search {
  border-left: 1px solid var(--teal-color);
}
.navbar .search svg {
  color: var(--teal-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 20px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
/* End Navbar */
/* Start Landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
/* End Landing */
/* Start Features */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  font-size: 4rem;
  color: var(--teal-color);
}
.features .feat h4 {
  color: var(--yellow-color);
}
/* End Features */
/* Start Our Work */
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--yellow-color);
}
.our-work .box {
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background: #33d1cca8;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  transition: 0.3s;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
  transform: translateX(0);
}
/* End Our Work */
/* Start Stuff */
.stuff .description {
  max-width: 500px;
}
/* End Stuff */
/* Start Our Team */
.our-team {
  background-color: var(--section-color);
}
.our-team h2 {
  color: var(--yellow-color);
  font-size: 2rem;
}
.our-team .box .image {
  overflow: hidden;
}
.our-team .box img {
  transition: 0.3s;
}
.our-team .box:hover img {
  transform: rotate(5deg) scale(1.2);
}
.our-team .box h4 {
  background-color: var(--teal-color);
}
/* End Our Team */
/* Start Project */
.project {
  background-color: var(--dark-color);
}
/* End Project */